// COLORS
$color-primary-dark: #413D65;
$color-primary: #66609f;
$color-primary-light: #b3afcf;

$color-secondary: #5FB9B0;

$color-tertiary: #BEF992;

$color-gray-light-1: #f7f7f7;
$color-gray-dark-1: #333;
$color-gray-dark-2: #777;
$color-gray-dark-3: #999;

$color-white: #fff;
$color-black: #2B1F31;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;